.idea
*/.idea

node_modules/
*/node_modules

.aptos/
*/.aptos

./aptos-core
./aptos-core/*

build
*/build

*/*.log

evm/typechain-types
evm/artifacts*
evm/cache*

.env
*/.env

.openzeppelin
*/.openzeppelin
